# Игнорировать файлы и каталоги среды разработки
.idea/

# Игнорировать директорию сборки
build/

# Игнорировать локальные версии библиотек и зависимостей
.gradle/

# Игнорировать временные файлы системы
*.tmp
*.log
*.bak

# Игнорировать кеши среды разработки
*.iml
